.header {
    width: 100%; /* ширина шапки на 100% всего пространства */
    padding: 1% 0;  /* внутренний отступ сверзу и снизу по 1% от ширины всего блока */

    text-align: center; /* выровнять весь текст в блоке по центру */
    font-size: 24px; /* размер текста внутри блока равен 24 пикселя*/
    font-weight: 300; /* толщина текста равна 400 */

    color: gray; /* цвет текста серый */
}

.header_logo    {
    color: inherit; /* цвет текста наследуется из материнского элемента (серый) */
    text-decoration: none; /* отключить все декорации текстовых элементов */
}